---
import "../styles/global.css";

import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";

const identity = {
  firstName: "Qwertic",
  country: "Italy",
  occupation: "Full Stack Developer",
  hobbies: ["playing music", "camping", "meditation", "traveling", "coding"],
};

const skills = [
  "Ruby on Rails",
  "Next.js",
  "React",
  "Astro",
  "Writing Docs",
  "Tailwind CSS",
  "PostgreSQL",
  "Git",
  "Docker",
  "AWS",
  "GitHub Actions",
  "GEN-AI",
  "Python",
  "JavaScript",
  "CI/CD",
];

const happy = true;
const finished = false;
const goal = 3;
const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>... and my new Astro site!</h2>

  <p>
    I'm {identity.firstName} from {identity.country}. I'm a {
      identity.occupation
    } and I love {identity.hobbies.join(", ")}.
  </p>

  <p>My skills are:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
</BaseLayout>
